<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HOME</title>
  <link rel="stylesheet" href="/styles/bass.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
</head>

<body>
  <main>
    <p> HELLO WORLD </p>
    <section id="mediaContainer">
      <div id='mediaPlayer'></div>
    </section>
    <form>
      artist page: <input>
    </form>
  </main>
  <script src='https://unpkg.com/react-player/dist/ReactPlayer.standalone.js'></script>
  <!-- soundcloud media player script -->
  <script>
    const container = document.getElementById('mediaPlayer')
    const url = 'https://soundcloud.com/finthemartian'


    renderReactPlayer(container, { url, playing: true })

    function pausePlayer() {
      renderReactPlayer(container, { url, playing: false })
    }
  </script>
</body>

</html>